# AUTHOR : SWETHA SRI.S

## K-means Clustering Algorithm

## Without Using Library Functions

### Import the necessary modules

In [1]:
import pandas as pd
import numpy as np
import math 
import warnings
warnings.filterwarnings('ignore')

### Read the file

In [2]:
data=pd.read_csv("K-means.csv")

In [3]:
data

   Dataset    X   Y
0        1  185  72
1        2  170  56
2        3  168  60
3        4  179  68
4        5  182  72
5        6  188  77

## Let's take K=2
### Arbitrary centroid 1

In [4]:
c1x,c1y=data.X[0],data.Y[0]
c1x,c1y

(185, 72)

### Arbitrary centroid 2

In [5]:
c2x,c2y=data.X[1],data.Y[1]
c2x,c2y

(170, 56)

## Distance , Clustering and Calculation of New Centroid Function

In [13]:
def dist(c1x,c1y,c2x,c2y):
    for i in range(data.shape[0]):
        
        dist1=math.sqrt((c1x-data.X[i])**2 + (c1y-data.Y[i])**2)
        data['Distance1'][i]=dist1
        dist2=math.sqrt((c2x-data.X[i])**2 + (c2y-data.Y[i])**2)
        data['Distance2'][i]=dist2
        
        if data.Distance1[i]<data.Distance2[i] :
            data['Cluster'][i]=1
     
        else:
            data['Cluster'][i]=2
    decimals=pd.Series([3,3],index=['Distance1','Distance2'])
    data.round(decimals)
    new_centroid(c1x,c1y,c2x,c2y)
    
    
def new_centroid(c1x,c1y,c2x,c2y):
    count1,count2=0,0
    newc1x,newc1y=0,0
    newc2x,newc2y=0,0
    for i in range(data.shape[0]):
        if data.Cluster[i]==2:
            count2=count2+1
            newc2x=newc2x+data['X'][i]
            newc2y=newc2y+data['Y'][i]
        elif data.Cluster[i]==1:
            count1=count1+1
            newc1x=newc1x+data['X'][i]
            newc1y=newc1y+data['Y'][i]


    newc1x,newc1y=newc1x/count1,newc1y/count1
    newc2x,newc2y=newc2x/count2,newc2y/count2

    if c1x!=newc1x or c1y!=newc1y or c2x!=newc2x or c2y!=newc2y:
        dist(newc1x,newc1y,newc2x,newc2y)

In [14]:
dist(c1x,c1y,c2x,c2y)

# Final Output

In [15]:
data

   Dataset    X   Y  Distance1  Distance2  Cluster
0        1  185  72   1.520691  21.260292        1
1        2  170  56  21.126109   2.236068        2
2        3  168  60  19.756328   2.236068        2
3        4  179  68   6.189709  14.142136        1
4        5  182  72   1.520691  19.104973        1
5        6  188  77   6.543126  26.870058        1